.game-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: 90vh;
    padding: 2rem;
}

.top-middle {
    grid-area: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.middle-middle {
    grid-area: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.left-middle {
    grid-area: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-middle {
    grid-area: 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bottom-right {
    grid-area: 3 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

button {
    margin-left: 0.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-input {
    padding: 0.5rem;
    border: 1px solid gray;
}

.slider-input {
    width: 150px;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
}

.bet-button,
.check-fold-button {
    width: 160px;
}